.bg{
	background: url('images/digiback.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar{
   margin-bottom: 0!important;
}

ul.nav { margin-bottom: 0 !important; }
.bg1{
	background: url('images/digiback-2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.loginback{
    background: url('images/1.jpg');
    background-repeat: no-repeat;
    height: 150%;
    background-size: 100%;
}
.myStyle_content {
  text-align: center;
  font-family: sans-serif;
}
.myclass{
	text-align: center;
}

  .bg-3 {
      background-color: #ffffff; /* White */
  }
.bg-4 {
    background-color: #2A3457;
    color: #ffffff;
}
.ess1{
	text-align: center;
	padding-top: 50px;
	color:#2A3457;
}
ul.b {
    list-style-type: square;
}
.bg-11 {
        background: url('images/bg1.jpg');
        background-repeat: no-repeat;
    background-size:100% 100%;


    }

.back{
	border: 2px solid black;
  	margin: auto;
  	position: relative;
  	text-align: center;
  	top: 50%;
  	width: 25%;
 	background-color: #2A3457;
 	color: #E1E0E5;
}
.mycol{
    color:# 2A3457;
}


.elog{
	border: 2px solid black;
  	margin: auto;
  	position: relative;
  	text-align: center;
  	top: 50%;
  	width: 25%;
  	background-color: #404040;
  	color:white;
}
.fp1{
	color:white;
}
.fp{
	color:white;
}
.logo{
	font-family: 'Bungee', cursive;
}

.btn-my{
  color: #ffffff;
  background-color: #2A3457;
  border-color: #130269;
}

