.bg{
	background: url('images/digiback.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg1{
	background: url('images/digiback-2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.loginback{
    background: url('images/1.jpg');
    background-repeat: no-repeat;
    height: 150%;
    background-size: 100%;
}

.myclass{
	text-align: center;
}
.ess1{
	text-align: center;
	padding-top: 50px;
	color:#2A3457;
}
ul.b {
    list-style-type: square;
}

.back{
	border: 2px solid black;
  	margin: auto;
  	position: relative;
  	text-align: center;
  	top: 50%;
  	width: 25%;
 	background-color: #2A3457;
 	color: #E1E0E5;
}
.elog{
	border: 2px solid black;
  	margin: auto;
  	position: relative;
  	text-align: center;
  	top: 50%;
  	width: 25%;
  	background-color: #e6e6e6;
}
.fp1{
	color:white;
}
.fp{
	color:black;
}
.logo{
	font-family: 'Bungee', cursive;
}