{% extends 'empbase.html' %}

{% block content %}
<h2> Customer Account Summary </h2>

<form method = "POST" class="myc">
 {% csrf_token %}


    <table border="2">
        <tr>
            <th><b>Account Owner</b></th>
            <th><b>Account Number</b></th>
             <th><b> Account Type </b></th>
            <th><b> Balance </b></th>

        <tr/>

        <tr>
            <td><b>{{ acc.owner }}</b></td>
            <td><b>{{ acc.accountNum }}</b></td>
            <td><b> {{ acc.acntType }} </b></td>
             <td><b>  {{ acc.balance }}  </b></td>
        </tr>


    </table>

<a href = "{% url 'employee_site:empAccountSummary'%}"> Back </a>
</form>


{% endblock %}