{% extends 'empbase.html' %}
{% block content %}

<form class="form-horizontal" role="form" method="post" action="{% url 'employee_site:empviewreport'%}">
            {% csrf_token %}
    <div style="margin-left:5%;margin-right:5%">
        <h1> Customer Transaction Report </h1>
        <hr>
    </div>
    <div class="form-group" style="margin-left:30%;">
                <label class="control-label col-sm-2">Employee:</label>
            <label class="control-label col-sm-1">{{  employee.firstName }}{{  employee.lastName }}</label>

          </div>

          <div class="form-group" style="margin-left:30%;">
                <label class="control-label col-sm-2">Account Number:</label>
              <div class="col-sm-4">
              <select class="form-control" name='accnum'>
                    {% for i in account %}
                    <option>
                            {{ i.accountNum }}
                    </option>
                    {% endfor %}

                    </select>
              </div>
          </div>
          <div class="form-group " style="margin-left:30%;">
              <label class="control-label col-sm-2">Date From:</label>
              <div class="col-sm-4">
                  <input type="date" name="fromdate" required>
              </div>
          </div>
          <div class="form-group" style="margin-left:30%;">

                <label class="control-label col-sm-2">Date To:</label>
                <div class="col-sm-4">
                    <input type="date" name="todate" required>
                </div>
          </div>
            <br>
          <div class="form-group">
            <label class="col-md-3 control-label" style="margin-left:13%;" ></label>
            <div class="col-md-5">
                <a href="{% url 'employee_site:empHome'%}">
                    <button type="button" class="btn btn-default glyphicon glyphicon-home">
                        Back
                    </button>
                </a>
                <button class="btn btn-primary " type="submit" style="margin-left:5%;"><span class="glyphicon glyphicon-ok"></span>
                    View Report
                </button>
            </div>
          </div>
</form>
{% endblock %}