<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="ISO-8859-1">
<title>DigiBank</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<nav class="navbar navbar-inverse bg-primary" style="background-color: #2A3457;">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">DigiBank</a>
		</div>
		{% if sessionid %}
		<ul class="nav navbar-nav">
				<li>
					<a href="{% url 'login:userAccountSummary' %}">
						Account Summary
					</a>
				</li>
			</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
        		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
        	<span class="caret"></span></a>
        	<ul class="dropdown-menu">
          		<li><a href="{%url 'login:updateprofile'%}">Update Profile</a></li>
         		 <li><a href="{% url 'login:changePass' %}">Change Password</a></li>
          		<li><a href="#">Page 1-3</a></li>
        	</ul>
      		</li>
			<li class="">
					<a href="{% url 'login:logout'%}">
						<span class="glyphicon glyphicon-log-out" aria-hideen="true"></span>&nbsp;
						Logout
					</a>
				</li>
			{% else %}
			<li class="">
					<a href="{% url 'login:login'%}">
						<span class="glyphicon glyphicon-log-in" aria-hideen="true"></span>&nbsp;
						Login
					</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
<body class="bg">
{% block content %}
{% endblock %}
</body>
</html>