
{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h1>Customer Account Summary</h1>
  	<hr>

        <h3>Account Info</h3>
        <div class="container" style="margin-left:10%;">
        <form class="form-horizontal" role="form" method="post" action="{% url 'login:viewdetails'%}">
            {% csrf_token %}
          <div class="form-group row" style="margin-left:30%;">
            <div class="col-xs-6">
                <label>Account Owner:</label>
                <label>{{ customer.firstName }} {{ customer.lastName }}</label>
                <input type="hidden" id="userid" name="userid" value="{{ customer.id }}">
            </div>
          </div>
          <div class="form-group row" style="margin-left:30%;">
            <div class="col-xs-3">
                <label>Account Number:</label>
                <select class="form-control" name='accnum'>
                    {% for i in account %}
                    <option>
                            {{ i.accountNum }}
                    </option>
                    {% endfor %}
                    <option value ='all'>
                        All
                    </option>
                </select>
            </div>
          </div>
            <hr>
          <div class="form-group">
            <label class="col-md-3 control-label" style="margin-left:3%;" ></label>
            <div class="col-md-8">
                <a href="{% url 'login:cusHome'%}">
                    <button type="button" class="btn btn-default">
                        Back
                    </button>
                </a>
                <button class="btn btn-primary " type="submit" style="margin-left:5%;"><span class="glyphicon glyphicon-ok"></span> View Summary</button>
            </div>
          </div>

        </form>
        </div>
      </div>


{% endblock %}