{% extends 'base.html' %}

{% block content %}
<head>
    <script>
    function printDiv(){var divToPrint =document.getElementById('areaToPrint');
    newWin = window.open("");
    newWin.document.write(divToPrint.outerHTML);
    newWin.print();
    newWin.close();
}
</script>
</head>
<div class="container" id="areaToPrint">
    <h1>Customer Transaction Report</h1>
  	<hr>

    <h3>Debit Transaction</h3>
    <div class="table-responsive" style="margin-left:12%;">
    <table class="table">
        <thead>
            <tr>
                <th><b>Transaction From Account</b></th>
                <th><b> Transaction To Account</b></th>
                <th><b> Transaction Date Time </b></th>
                <th><b> Transaction Amount</b></th>
                <th><b> Transaction Description</b></th>
            </tr>
        </thead>
        <tbody>
        {% for i in txnDb %}
         <tr>
                        <td><b>{{ i.accntFrom }}</b></td>
                        <td><b> {{ i.accntTo }}</b></td>
                        <td><b> {{ i.dateTime }} </b></td>
                        <td><b> {{ i.amount }}</b></td>
                        <td><b> {{ i.transferDesc }}</b></td>
        </tr>
         {% endfor %}
        </tbody>
  </table>
  </div>

    <h3>Credit Transaction</h3>
    <div class="table-responsive" style="margin-left:12%;">
    <table class="table">
        <thead>
            <tr>
                <th><b>Transaction From Account</b></th>
                <th><b> Transaction To Account</b></th>
                <th><b> Transaction Date Time </b></th>
                <th><b> Transaction Amount</b></th>
                <th><b> Transaction Description</b></th>
            </tr>
        </thead>
        <tbody>
        {% for k in txnCr %}
        <tr>
                        <td><b>{{ k.accntFrom }}</b></td>
                        <td><b> {{ k.accntTo }}</b></td>
                        <td><b>  {{ k.dateTime }} </b></td>
                        <td><b> {{ k.amount }}</b></td>
                        <td><b> {{ k.transferDesc }}</b></td>
        </tr>
            {% endfor %}
        </tbody>
  </table>
  </div>

    <a href = "{% url 'login:cusHome'%}" style="margin-left:41%">
        <button class="btn btn-my " type="submit">
            <span class="glyphicon glyphicon-home"></span>
            Back
        </button>
        <button class="btn btn-my" onclick="printDiv()">
        Print
        </button>
    </a>
</form>
</div>
{% endblock %}