{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1>Customer Account Summary</h1>
  	<hr>

        <h3>Account Info</h3>
    <div class="table-responsive" style="margin-left:12%;">
    <table class="table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Account Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for list in acc%}
        <tr>
            <td><b>{{ list.accountNum }}</b></td>
            <td><b> {{ list.acntType }} </b></td>
             <td><b>  {{ list.balance }}  </b></td>
        </tr>
        {%endfor%}
        </tbody>
  </table>
  </div>

    <a href = "{% url 'login:userAccountSummary'%}" style="margin-left:41%">
        <button class="btn btn-my " type="submit">
            <span class="glyphicon glyphicon-home"></span>
            Back
        </button>
    </a>
</form>
</div>

{% endblock %}