{% extends 'base.html' %}

{% block content %}
<h2> Customer Account Summary </h2>
<form method = "POST" class="myc">
 {% csrf_token %}

    <table border="2">
        <tr>
            <th><b>Account Number</b></th>
             <th><b> Account Type </b></th>
            <th><b> Balance </b></th>

        <tr/>
        {% for list in acc%}
        <tr>
            <td><b>{{ list.accountNum }}</b></td>
            <td><b> {{ list.acntType }} </b></td>
             <td><b>  {{ list.balance }}  </b></td>
        </tr>
        {%endfor%}

    </table>
    <a href = "{% url 'login:userAccountSummary'%}"> Back </a>
</form>


{% endblock %}