{% extends 'base.html' %}

{% block content %}



<div class="container">
    <h1>Fund Transfered</h1>
  	<hr>

        <h3>Transfer Details</h3>
    <div class="table-responsive" style="margin-left:12%;">
    <table class="table">
        <thead>
            <tr>
                <th>Account Number From</th>
                <th>Account Number To</th>
                <th>Transfered Amount</th>
                <th>Transfer Description</th>
                <th>Latest Balance</th>

            </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>{{ txn.accntFrom }}</b></td>
            <td><b> {{ txn.accntTo }} </b></td>
             <td><b>  {{ txn.amount }}  </b></td>
            <td><b> {{ txn.transferDesc }}  </b></td>
             <td><b> {{ balanceRemaining.balance}}  </b></td>
        </tr>
        </tbody>
  </table>
  </div>

    <a href = "{% url 'login:userAccountSummary'%}" style="margin-left:41%">
        <button class="btn btn-my " type="submit">
            <span class="glyphicon glyphicon-home"></span>
            Back
        </button>
    </a>
</form>
</div>
{% endblock %}