
{% extends 'base.html' %}
{% block content %}
{%if error %}
<body onload="myFunction()">
<script>
    function myFunction(){
    alert("Balance is Low,Insufficient Funds to Transfer");
    }
</script>
{%else%}
<body>
{%endif%}
<h1>Fund Transfer: </h1>
<form class="form-horizontal" role="form" method="post" action="{% url 'login:viewFundsTrsfrdetails'%}">
            {% csrf_token %}
          <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Account Owner:</label>
                <label class="control-label col-sm-1">{{ customer.firstName }} {{ customer.lastName }}</label>
                <input type="hidden" id="userid" name="userid" value="{{ customer.id }}">

          </div>

          <div class="form-group" style="margin-left:20%;">
                <label class="control-label col-sm-4">Account Number:</label>
              <div class="col-sm-4">
              <select class="form-control" name='accnum'>
                    {% for i in account %}
                    <option>
                            {{ i.accountNum }}
                    </option>
                    {% endfor %}

                    </select>
              </div>
          </div>
          <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">Transfer From Routing Number:</label>
              <div class="col-sm-4">
                 <input type="text" name="fromroutingNo" required>
              </div>
          </div>
          <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Trasfer To Account Number:</label>
                <div class="col-sm-4">
                    <input type="text" name="toAccount" required>
                </div>
          </div>
          <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Trasfer To Routing Number:</label>
                <div class="col-sm-4">
                    <input type="text" name="toroutingNo" required>
                </div>
          </div>

            <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Ammount(In Dollars):</label>
                <div class="col-sm-4">
                    <input type="text" name="amount" required>
                </div>
          </div>

            <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Transfer Description:</label>
                <div class="col-sm-4">
                    <input type="text" name="transferDesc" required>
                </div>
          </div>
            <hr>
          <div class="form-group">
            <label class="col-md-3 control-label" style="margin-left:15%;" ></label>
            <div class="col-md-4">
                <a href="{% url 'login:cusHome'%}">
                    <button type="button" class="btn btn-default glyphicon glyphicon-home">
                        Back
                    </button>
                </a>
                <button class="btn btn-primary " type="submit" style="margin-left:5%;"><span class="glyphicon glyphicon-ok"></span>
                    Transfer
                </button>
            </div>
          </div>
</form>
</body>
{% endblock %}