{% extends 'base.html' %}
{% block content %}
<h2> Customer Transaction Report </h2>
<form method = "POST" class="myc">
 {% csrf_token %}
    <table>
        <tr>
            {{ form.as_table }}
        <tr/>
        <tr>
            <td><b>Date From:</b></td>
            <td><input type="date" name="mydate"></td>
        </tr>

        <tr>
            <td><b>Date To:  </b></td>
            <td><input type="date" name="mydate"></td>
        </tr>
    </table>

    <button type = "submit"> View Report </button>

</form>
{% endblock %}