{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <h2 class="text-center">Demand Draft Request</h2>
<h3>Select Account </h3>
<form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
          <div class="form-group" style="margin-left:20%;">

                <label class="control-label col-sm-4">Account:</label>
                <div class="col-sm-4">
              <select class="form-control" name="account_from">
                    {% for acc in accounts %}
                    <option value="{{ acc.id }}">
                        <strong>{{ acc.acntType }}</strong> - <kbd>{{ acc.accountNum }}</kbd>
                    </option>
                    {% endfor %}
                </select>
                </div>

          </div>
          <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">Amount:</label>
              <div class="col-sm-4">
                 <input type="number" name="amount" required>
              </div>
          </div>
            <hr>
    <h3>Recipient Information</h3>

<div style="margin-left:20%;">
    <div class="form-group row">
        <div class="col-xs-3">
              <label>Name: </label>
              <input class="form-control" type="text" name="rec_name" required>
        </div>
        <div class="col-xs-3">
              <label>Street: </label>
              <input class="form-control" type="text" name="address_st" required>
        </div>
        <div class="col-xs-3">
              <label>City: </label>
                 <input class="form-control" type="text" name="address_city" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-3">
              <label>State: </label>
              <input class="form-control" type="text" name="address_state" required>
        </div>
        <div class="col-xs-3">
              <label>Zip Code: </label>
              <input class="form-control" type="text" name="address_zip" required>
        </div>
        <div class="col-xs-3">
              <label>Phone Number: </label>
                 <input class="form-control" type="text" name="rec_phone" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-3">
              <label>Date Payable: </label>
              <input class="form-control" type="date" name="payable_date" required>
        </div>
        <div class="col-xs-3">
              <label>Send Date: </label>
              <input class="form-control" type="date" name="send_date" required>
        </div>
        <div class="col-xs-3">
              <label>Message: </label>
               <textarea class="form-control" name="message"></textarea>

        </div>
        <br>
    </div>
          <div class="form-group">
            <label class="col-md-3 control-label" ></label>
            <div class="col-md-4">
                <a href="{% url 'login:cusHome'%}">
                    <button type="button" class="btn btn-default glyphicon glyphicon-home">
                        Back
                    </button>
                </a>
                <button class="btn btn-my " type="submit" style="margin-left:5%;"><span class="glyphicon glyphicon-ok"></span>
                    Submit
                </button>
            </div>
          </div>
</div>
</form>

</div>

{% endblock %}