{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
    <h3>Hey, {{ user.firstName }} {{ user.lastName }}</h3>
    <h6>Please submit your check request form: </h6>
  	<hr>

        <h3>Account Details</h3>
    <div class="table-responsive" style="margin-left:12%;">
    <table class="table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Routing Number</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for acc in accounts %}
        <tr>
            <td>
            <strong>{{ acc.acntType }}</strong> - <kbd>{{ acc.accountNum }}</kbd><br/>
            </td>
            <td>{{ acc.routingNum }}</td>
            <td>${{ acc.balance }}</td>
        </tr>
    {% endfor %}

        </tbody>
  </table>
  </div>




        <h3>Check Request</h3>
        <form class="form-horizontal" role="form" name="whereto" method="post">
            {% csrf_token %}
            <div class="form-group" style="margin-left:20%;">
                <label class="control-label col-sm-4">Select Account:</label>
              <div class="col-sm-4">
              <select class="form-control" name='account_id'>
                    {% for acc in accounts %}
                            <option value="{{ acc.id }}">
                                <strong>{{ acc.acntType }}</strong> - <kbd>{{ acc.accountNum }}</kbd>
                            </option>
                  {% endfor %}

                    </select>
              </div>
          </div>
          <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">Street:</label>
              <div class="col-sm-4">
                 <input type="text" name="address_st" value="{{ user.address }}">
              </div>
          </div>

                <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">City:</label>
              <div class="col-sm-4">
                 <input type="text" name="address_city" value="{{ user.city }}">
              </div>
          </div>
                <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">State:</label>
              <div class="col-sm-4">
                 <input type="text" name="address_state" value="{{ user.state }}">
              </div>
          </div>
          <div class="form-group " style="margin-left:20%;">
              <label class="control-label col-sm-4">Zip Code:</label>
              <div class="col-sm-4">
                 <input type="text" name="address_zip" value="{{ user.zipCode }}">
              </div>
          </div>
            <div class="text-center">
            <small>*This address is where the checks should be sent to.</small><br/>
            <input type="submit" class="btn btn-my btn-lg" value="Confirm">
            </div>
            <br><br>
        </form>

</div>
{% endblock %}