{% extends "empbase.html" %}
{% load staticfiles %}
{% block content %}
 <h3 class="text-center">Approve Demand Draft Request</h3>
<br>
<div id="req_list"
         align="justify"
         style="float: left; width: 34%">
        <form method="get">
                <h4 style="text-align:center;"><b>Select request to view:</b></h4>
                <br>
            {% for req in dd_requests %}
                <BUTTON class="btn-md btn-default col-xs-5" type="submit"
                                value="{{ req }}"
                                formaction="/employee/dd_req/{{ req.id }}/"
                                style="margin-left:25%">
                            {{ req }}
                </BUTTON>
            {% endfor %}

        </form>
    </div>








    <div id="req_details33"
         style="float: right; width: 66%"
         align="justify">
            <fieldset>
                <legend>Demand Draft Request</legend>
                <div style="margin-left:20%;">
                <table>
                    <tr>
                        <td><b>Request ID:</b></td>
                        <td style="margin-left:15%;">{{ dd_req.id }}</td>
                    </tr>
                    <tr>
                        <td><b>Recipient Name:</b></td>
                        <td>{{ dd_req.rec_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Amount:</b></td>
                        <td>${{ dd_req.amount }}</td>
                    </tr>
                    <tr>
                        <td><b>Address:</b></td>
                        <td>{{ dd_req.address_st }},
                            {{ dd_req.address_city }},
                            {{ dd_req.address_state }},
                            {{ dd_req.address_zip }}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Recipient Phone Number:</b></td>
                        <td>{{ dd_req.rec_phone }}</td>
                    </tr>
                    <tr>
                        <td><b>Send Date:</b></td>
                        <td>{{ dd_req.send_date }}</td>
                    </tr>
                    <tr>
                        <td><b>Payable Date:</b></td>
                        <td>{{ dd_req.payable_date }}</td>
                    </tr>
                    <tr>
                        <td><b>Message:</b></td>
                        <td>{{ dd_req.message }}</td>
                    </tr>
                </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Requested By:</legend>
                <div style="margin-left:20%;"><b>
                {{ customer.firstName }}
                    {{ customer.lastName }} </b>
                </div><br><br>
            </fieldset>
        <br><br>
        <form action="/employee/dd_req/{{ dd_req.id }}/" method="post">
            {% csrf_token %}
            <input type="submit"
                   value="Approve"
                   class="btn btn-primary btn-lg"
                    style="margin-left:43%;"/>
        </form>
    </div>
{% endblock %}
