{% extends "empbase.html" %}
{% load staticfiles %}
{% block content %}
    <div id="left"
         align="justify"
         style="float: left;
         width: 50%;">
        <fieldset>
            <legend>Search:</legend>
            <form name="search" method="get">
                <ul style="list-style-type: none;">
                    <li><!--Field for account holder name-->
                        <label>First Name: </label>{{ form.f_name }}
                    </li>
                    <li>
                        <label>Last Name:</label>
                        {{ form.l_name }}
                    </li>
                    <li>
                        <label>Username: </label>
                        {{ form.u_name }}
                    </li>
                    <li>
                        <label>ID Number:</label>
                        {{ form.id_num }}
                    </li>
                </ul>
                <input type="submit" name="search" value="Search"/>
            </form>
        </fieldset>
    </div>
    <div id="right"
         style="float: right;
                width: 50%;
                outline: 3px solid red;
                outline-offset: 10px;"
         align="justify">
        <ul>
        {% for customer in customers %}
            <li>
                {{ customer }}
                {% if customer.active %}
                    <form method="post"
                          action="/employee/account_activation/{{ customer.id }}/">
                        {% csrf_token %}
                        <input type="submit" value="Deactivate">
                    </form>
                    {% else %}
                        <form method="post"
                              action="/employee/account_activation/{{ customer.id }}/">
                            {% csrf_token %}
                            <input type="submit" value="Activate">
                        </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
