{% extends 'empbase.html' %}
{% block content %}
{% load staticfiles %}
    <div class="container-fluid bg-11">
    <h1>Hello {{employee.firstName}}</h1>
        <br><br>
        <div  class="text-center">
        <font size="72" class="text-center">Digi Bank</font>
    <br>
    <h3>The Future of Banking.</h3>
        </div>
        <br><br><br>
        {% if empsession %}

					<div class="row center">
                    <a href="{% url 'employee_site:empLogout' %}" class="btn btn-primary btn-lg" style="margin-left:46%" role="button">
						<span class="glyphicon glyphicon-log-out" aria-hideen="true"></span>&nbsp;
						Logout
					</a>
                    </div>
        {% else %}
        <a href="{% url 'employee_site:empLogin' %}" class="btn btn-primary btn-lg" style="margin-left:46%" role="button">
						<span class="glyphicon glyphicon-log-in" aria-hideen="true"></span>&nbsp;
						Login
		</a>

        {% endif %}
        <br><br><br>
    </div>

    <div class="container-fluid bg-3 text-center">
    <h3>Services By DigiBank</h3>
    <div class="row">
    <div class="col-sm-4">
        <h4>Fund Transfer</h4>
      <p>Easy fast and reliable to transfer money between two different accounts.</p>
      <img src="../static/css/images/trans-1.jpg" alt="Image">
    </div>
    <div class="col-sm-4">
        <h4>Security Against Fraud</h4>
      <p>Essential layers of security works as giant wall for all issues related to security.</p>
            <img src="../static/css/images/sec.jpg" style="width:60%;" alt="Image">
    </div>
    <div class="col-sm-4">
      <h4>Customer Support</h4>
        <p>Customer assistance is our top most priorit and we provide 24*7 customer assistance</p>
      <img src="../static/css/images/cus.png" style="width:83%;" alt="Image">
    </div>
    </div>
</div>

<footer class="container-fluid bg-5 text-center" style="padding:1%;">
  <p>All rights reserved &copy; Digibank World Domination Inc. | Website by: Jay Sheth, Kashif Anwer, and Patrick Kirchhoff</p>
</footer>
{% endblock %}