{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="card back" >
          <img class="profile-img-card" src="{% static 'css/images/logo.png'%}" alt="" />
            <h4>Reset your password</h4>
            <form class="form-signin" method="post" action="{% url 'login:passauth' %}">
            {% csrf_token %}
                <input type="password" name="curpass" class="form-control" placeholder="Current Password" required><br>
                <input type="password" name="newpass" class="form-control" placeholder="New Password" required><br>
                <input type="password" name="conpass" class="form-control" placeholder="Confirm Password" required>
                <br><br>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Change Password</button>
            </form><br>
    </div>
{% endblock %}