{% extends 'base.html' %}

{% block title %}DigiBank{% endblock %}

{% block content %}


<div class="container">
    <h1>Edit Profile</h1>
  	<hr>

        <h3>Personal info</h3>
        <div class="container" style="margin-left:10%;">
        <form class="form-horizontal" role="form" method="post" action="{% url 'login:updateauth'%}">
            {% csrf_token %}
          <div class="form-group row">
            <div class="col-xs-3">
                <label>First Name:</label>
                <input class="form-control" name="firstName" type="text" value="{{ customer.firstName }}">
            </div>
            <div class="col-xs-3">
                <label>Middle Name:</label>
                <input class="form-control" name="middleName" type="text" value="{{ customer.middleName }}">
            </div>
            <div class="col-xs-3">
                <label>Last name:</label>
                <input class="form-control" name="lastName" type="text" value="{{ customer.lastName }}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
                <label>Street Address:</label>
                <input class="form-control" name="address" type="text" value="{{ customer.address }}">
            </div>
            <div class="col-xs-3">
                <label>City:</label>
                <input class="form-control" name="city" type="text" value="{{ customer.city }}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
                <label>State:</label>
                <input class="form-control" name="state" type="text" value="{{ customer.state }}">
            </div>
            <div class="col-xs-3">
                <label>Zipcode:</label>
                <input class="form-control" name="zipCode" type="text" value="{{ customer.zipCode }}">
            </div>
            <div class="col-xs-3">
                <label>Country:</label>
                <input class="form-control" name="country" type="text" value="{{ customer.country }}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
                <label>Email Address: </label>
                <input class="form-control" name="emailAdd" type="text" value="{{ customer.emailAdd }}">
            </div>
            <div class="col-xs-3">
                <label>User Name:</label>
                <input class="form-control" name="userid" type="text" value="{{ customer.userid }}">
            </div>
            <div class="col-xs-3">
                <label>Contact Number:</label>
                <input class="form-control" name="phoneNumber" type="text" value="{{ customer.phoneNumber }}">
            </div>
          </div>
            <br>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <a href="{% url 'login:cusHome'%}">
                    <button type="button" class="btn btn-default">
                        Back
                    </button>
                </a>
                <input type="reset" class="btn btn-default" style="margin-left:5%;" value="Reset">
                <button class="btn btn-my " type="submit" style="margin-left:5%;"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </div>
          </div>

        </form>
        </div>
      </div>
</div>
<hr>

{% endblock %}
